// @import url('./theme/lara/lara-light/my/theme.scss');
$primaryColor: var(--sui-color-primary-default) !default;
$primaryLightColor: var(--sui-color-primary-100) !default;
$primaryDarkColor: var(--sui-color-primary-700) !default;
$primaryDarkerColor: var(--sui-color-primary-900) !default;
$primaryTextColor: #ffffff !default;
$highlightBg: var(--sui-color-default-100) !default;
$highlightDarkerColor: var(--sui-color-primary-300) !default; // lightness -25%

$highlightTextColor: var(--sui-color-text-1450) !default;
$highlightFocusBg: var(--sui-color-default-200) !default;

//menu (e.g. menu, menubar, tieredmenu)
$menuitemTextColor: var(--sui-color-text-500) !default;
$menuitemIconColor: var(--sui-color-text-500) !default;
$menuitemTextHoverColor: var(--sui-color-text-1450) !default;
$menuitemIconHoverColor: var(--sui-color-text-1450) !default;

$borderRadius: var(--sui-radius-default) !default;
$checkboxRadius: var(--sui-radius-checkbox) !default;
$buttonBg: var(--sui-color-primary-default) !default;
$buttonRingColor: var(--sui-color-primary-ring) !default;
$textButtonHoverBgOpacity: var(--sui-opacity-primary-hover) !default;
$textButtonActiveBgOpacity: var(--sui-opacity-primary-active) !default;

$linkButtonRingColor: var(--sui-color-primary-ring) !default;

// @import '../_variables';
// @import './_fonts';
// @import '../../../../theme-base/_components';
// @import '../_extensions';
@import "./theme/lara/lara-light/variables";
@import "./theme/lara/lara-light/my/fonts";
@import "./theme-base/components";
@import "./theme/lara/lara-light/extensions";
